body {
	background:rgba(255,255,255,.6)
}
.button {
  display: inline-block;
  margin: 10px;
  width: 47px;
  height: 47px;
  background: rgba(0,153,255,204);
  cursor: pointer;
  border-radius: 50%;

  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}
.button:hover {
  background: rgba(10,116,208,208) url(SVG/005__plus.svg)center center no-repeat;
  background-size: 65px 65px;
  box-shadow: inset 0 0 20px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.4),
  inset 0 2px 0 rgba(0,0,0,.1);
}
.btn-plus{
  display: block;
  background: rgba(0,153,255,204)url(SVG/005__plus.svg)center center no-repeat;
  background-size: 65px 65px;
    }
 .will-go{
   display: inline-block;
   margin: 10px;
   background: rgba(0,153,255,204);
   cursor: pointer;
   color: #fff; 
   width: 63;
   height: 20px;
   padding: 5px; 
    }
    .will-go:hover {
  background: rgba(10,116,208,208);
  box-shadow: inset 0 0 20px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.4),
  inset 0 2px 0 rgba(0,0,0,.1);
    }
   .coordinates{
     display: inline-block;
  margin: 10px;
  width: 47px;
  height: 47px;
  background: rgba(111,117,136,226) url(SVG/074__coordinates.svg) center center no-repeat;
  background-size: 65px 65px;
  cursor: pointer;
  border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
   }
   .coordinates:hover {
  background: rgba(10,116,208,208)url(SVG/074__coordinates.svg) center center no-repeat;
  background-size: 65px 65px;
  box-shadow: inset 0 0 20px rgba(0,0,0,.2),
  0 2px 0 rgba(255,255,255,.4),
  inset 0 2px 0 rgba(0,0,0,.1);
}
