html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
    width: 100%;
    height: auto;
    background-color: #F4F4F6;
    margin: 0 auto;
}

/* HEADER ======================================================================================== */

.header {
    width: inherit;
    height: 60px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(111, 117, 136, 0.57);
    -moz-box-shadow: 0px 3px 2px 0px rgba(111, 117, 136, 0.57);
    box-shadow: 0px 3px 2px 0px rgba(111, 117, 136, 0.57);
    
}

.wrapper-header {
    max-width: 100%;
    width: 1280px;
    height: inherit;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin: 0 auto;

}

.logo {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #088CFF;
    position: absolute;
    bottom: -15%;

}

.logo span {
    text-transform: lowercase;
}


/* Navigation =================================== */

.navigation {
    position: absolute;
    list-style: none;
    margin-top: 20px;
    left: 47%;
}

.navigation li {
    display: inline;
    list-style: none;  
}

.navigation a {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #535865;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 20px;
}

.navigation a:hover,
.navigation a:focus,
.navigation a:active {
    color: #088CFF;
    text-decoration: none;
}

/* Menu items with icons =========================== 
.icon-menu {
    position: absolute;
    margin: 0;
    padding:0;
    right: 0;
    width: 260px;

}

.icon-menu li {
    width: 150px;
    height: 60px;
    display: inline-block;
}

.icon-menu li:last-child {
    width: 80px;
} 

.icon-menu li a {
    text-align: left;
    position: relative;
}


.icon svg {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    stroke: #535865;

}
.text p {
    position: absolute;
    left: 38px;
    top: -14px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #535865;
    text-transform: uppercase;
    text-align: left;
}


.icon-menu li:hover .icon svg {
    stroke: #088CFF;

}
.icon-menu li:hover p {
    color: #088CFF;
    
} */

/* END OF HEADER ============================================================================== */

/* ATRISTS PAGE =============================================================================== */

/* Container with artist-blocks ==============================*/

.container {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto;
    background-color: inherit;
}

.container h1 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #535865;
    margin: 0;
}

.bold {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.blocks-area {
    width: 1280px;
    max-width: 100%;
    clear: both;
    float: left;
    margin: 0 auto;

}


.artist-block {
    margin-top: 50px;
    float: left;
    position: relative;
    width: 206px;
    margin-right: 25px;
    margin-left: 25px;
    height: 277px;
    background-color: #FFFFFF;
    -webkit-box-shadow: -1px 1px 9px 1px rgba(111, 117, 136, 0.2);
    -moz-box-shadow: -1px 1px 9px 1px rgba(111, 117, 136, 0.2);
    box-shadow: -1px 1px 9px 1px rgba(111, 117, 136, 0.2);
}

.artist-block img {
    margin-top: 22px;
    margin-left: 60px;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    border: 2px #FFFFFF solid;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(111, 117, 136, 0.51);
    -moz-box-shadow:    1px 1px 4px 0px rgba(111, 117, 136, 0.51);
    box-shadow:         1px 1px 4px 0px rgba(111, 117, 136, 0.51);

}

.artist-block h2 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #535865;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;   
}

/* Icons block =================================== */

.contact-icons {
    position: absolute;
    list-style: none;
    padding: 0;
    padding-top: 4px;
    top: 126px;
    text-align: center;
    width: 100%;
    margin: 0;

}

.contact-icons li {
    display: inline-block;
    width: 34px;
    height: 34px; 
    overflow: hidden;
}

 .contact-icons svg  {
    width: 40px;
    padding-right: 4px;
    height: 40px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    stroke: #088CFF;
    fill: #FFFFFF;
}


.contact-icons svg:hover,
.contact-icons svg:focus {
    stroke: #0a74d0;
}


.artist-block p {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #535865;
    width: 90%;
}

.artist-block h3 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase; 
    color: #535865;
    cursor: default;
}

.artist-block h3 a {
        text-decoration: none;
}

.artist-block h3 a:visited {
    color: inherit;
}

.artist-block h3 span {
   color: #088CFF;
}

.artist-block h3 span:hover,
.artist-block h3 span:focus {
    color: #0A74D0;
}




/* HOME PAGE =============================================================================================== */
.wrapper {
 height: 100%;
  margin:auto;
  background: rgba(244,244,246,96);
  width: 1280px;
  height: 630px;
 }
 

h1 {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	color: #535865;
	text-align: center;
	font-size: 30px;
}

.photos {
	position: relative;
	width: 920px;
	height: 630px;
	margin: 0 auto;
}

figure figcaption {
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	color: #C1C5CD;
	font-family: 'Roboto Condensed'
}

.artist-1 {
	position: absolute;
	top: 7%;
	left: 20%;
}
.artist-2 {
position: absolute;
top: 40%;
left:2%;
}

.artist-3 {
	position: absolute;
	top: 20%;
	left: 40%
}

.artist-4 {
	position: absolute;
	top: 10%;
	right: 10%;
}
.artist-5 {
	position: absolute;
	bottom: 20%;
	left: 80%;
}
.artist-6 {
	position: absolute;
	bottom: 30%;
	left: 35%;
}
.artist-7 {
	position: absolute;
	bottom: 20%;
	left: 18%;
}
.artist-8 {
	position: absolute;
	bottom: 25%;
	left: 50%;
}
.artist-9 {
	position: absolute;
	bottom: 40%;
	right: 15%;
}
.artist-10 {
	position: absolute;
	bottom: 40%;
	left: 90%;
}

figure img {
	border-radius: 50%;
	border: 2px #FFFFFF solid;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(111, 117, 136, 0.51);
    -moz-box-shadow:    1px 1px 4px 0px rgba(111, 117, 136, 0.51);
    box-shadow:         1px 1px 4px 0px rgba(111, 117, 136, 0.51);
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  background: rgba(244,244,246,96);
}
footer {
	background: #fff;
	
	font-size: 11px;
}

#footer {
	max-width: 1280px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
	position: relative;
}

#footer a {
  color:#C1c5cd;
}

#footer-logo {
	float: left;
	margin-top: -10px;
	font-size: 10px;
	text-align: left;
}

#sitemap {
	position: absolute;
	left: 25%;
	width: 100%;
    display: inline-block;
	overflow: hidden;
}

#sitemap a {
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 10px;
}

#sitemap a:hover {
	text-decoration: none;
	color: #535865;
}

#social {
	position: absolute;
	width: 130px;
	right: 2%
	}
.social-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background:#7A6B67;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 1px;
 }
 
.vkontakte {
background: #7A6B67 url(PNG/vk2-icon.png)center center no-repeat;
 background-size: 16px 10px;	
} 

.vkontakte:hover {
  background: #6996C7 url(PNG/vk2-icon.png)center center no-repeat;
  background-size: 16px 10px;
 }
 
 .facebook {
background: #7A6B67 url(PNG/fb2-icon.png)center center no-repeat;
 background-size: 8px 16px;	
} 
.facebook:hover {
  background: #496194 url(PNG/fb2-icon.png)center center no-repeat;
  background-size: 8px 16px;
}

 .twitter {
background: #7A6B67 url(PNG/twitter.png)center center no-repeat;
} 

.twitter:hover {
  background: #28C3FF url(PNG/twitter.png)center center no-repeat;
 }
 
  .odnoklassniki {
background: #7A6B67 url(PNG/ok.png)center center no-repeat;
} 

.odnoklassniki:hover {
  background: #ED812B url(PNG/ok.png)center center no-repeat;
 }
 
 .designed-by {
    float: right;
	margin-top: -10px;
	font-size: 10px;
	text-align: left;
	margin-right: -120px;
 }
 
 .traineeship {
	 background: url(png/traineeship logo normal.png)center center no-repeat;
	 background-size: 170px 40px;
 }
 
 .traineeship:hover {
	 background: url(png/traineeship logo hover.png)center center no-repeat;
	 background-size: 170px 40px;

 }

 /* HOMEPAGE-SLIDER-CURRENTPROJECT =============================================================================== */

.slider {
    position: relative;
    height: 500px;
}


.arrow_right {
    opacity: 0.5;
    position: absolute;
    top: 44%;
    right: 20px;
}

.arrow_right:hover {
    opacity: 1;
}


.arrow_left{
    opacity: 0.5;
    position: absolute;
    top: 44%;
    left: 20px;
}

.arrow_left:hover {
    opacity: 1;
}


.title-makvin h1 {
    position: absolute;
    color: #fff;
    top: 14%;
    font-size: 2.5rem;
    font-family: Roboto Condensed;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.title-description h2 {
    position: absolute;
    color: #fff;
    top: 38%;
    font-size: 1.5rem;
    font-family: Roboto Condensed;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: 2rem;
}

button {
    position: absolute;
    margin-left: 44%;
    margin-top: 27%;
    display: block;
    border-radius: 2px;
    width: 160px;
    height: 45px;
    border: 0px;
    background-color: #088cff;
    color: #fff;
    font-family: Roboto Condensed;
    font-weight: 500;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

button:hover {
background-color: #0a74d0;
}
 
.labels {
    position: absolute;
    bottom: 0;
    width: auto;
    right: 46%;
    bottom: 30px;
}

.labels label {
    margin: 4px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 2px solid #fff;
    border-radius: 20px;

}

.slide-buttons{
    display: none;
}

.checked {
    background-color: #fff;
}

.img-porch {
    margin-left: 180px;
    margin-bottom: 50px;
    float: left;
}


.current-project-title {
    color: #a9aebb;
    margin-left: 180px;
    margin-top: 50px;
    font-size: 1.2rem;
    font-family: Roboto Condensed;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2rem;
}

.current-project .porch-title {
    margin-left: 600px; 
    color: #535865;
    font-size: 1.2rem;
    font-family: Roboto Condensed;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2rem;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.current-project-text {
    color: #a9aebb;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 1rem;
    font-family: Open Sans;
    font-weight: 400;
    margin-right: 180px;
    line-height: 1.2rem;
}

.pin-text {
    color: #a9aebb;
    margin-top: 5px;
    margin-left: 600px;
    font-size: 0.8rem;
    font-family: Open Sans;
    font-weight: 400;
    margin-right: 180px;
}

.money-text {
    color: #535865;
    margin-top: 15px;
    margin-left: 600px;
    font-size: 0.8rem;
    font-family: Open Sans;
    font-weight: 400;
    margin-right: 180px;
    margin-bottom: 10px;    
}

.status-bar-background {
    position: relative;
    width: 500px;
    height: 6px;
    background-color: #f4f4f6;
    border-radius: 3px;
    margin-left: 600px;
}

.status-bar {
    width: 340px;
    height: 6px;
    background-color: #088cff;
    border-radius: 3px;
}

.icon-plus {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f4f4f6;
    border-radius: 20px;
    margin-left: 470px;
    top: -12px;
}

.icon-plus-blue {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #088cff;
    border-radius: 20px;
    margin: 4px;
}

.plus {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    font-family: Open Sans;
    font-weight: 500;
    bottom: -4px;
    right: 4px;
}
/*a*/, .see-all {
    text-decoration: none;
    margin-left: 424px;
    color: #ced1d8;
    margin-top: 59px;
    font-size: 1rem;
    font-family: Roboto Condensed;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2rem;
}

