* {
  margin: 0;
  padding: 0;
}
html,
body,
.wrapper {
 height: 100%;
  margin:auto;
  background: rgba(244,244,246,96);
  width: 1280px;
  height: 630px;
 }
 @font-face {
    font-family: Roboto-BoldCondensed;
    src: url("fonts/Roboto/Roboto-BoldCondensed.ttf");
 }
@font-face {
    font-family: Roboto-Condensed;
    src: url("fonts/Roboto/Roboto-Condensed.ttf");
}

h1 {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	color: #535865;
	text-align: center;
	font-size: 30px;
}

.photos {
	position: relative;
	width: 920px;
	height: 630px;
	margin: 0 auto;
}

figure figcaption {
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	color: #C1C5CD;
	font-family: 'Roboto-Condensed'
}

.artist-1 {
	position: absolute;
	top: 7%;
	left: 20%;
}
.artist-2 {
position: absolute;
top: 40%;
left:2%;
}

.artist-3{
	position: absolute;
	top: 20%;
	left: 40%
}

.artist-4 {
	position: absolute;
	top: 10%;
	right: 10%;
}
.artist-5{
	position: absolute;
	bottom: 20%;
	left: 80%;
}
.artist-6{
	position: absolute;
	bottom: 30%;
	left: 35%;
}
.artist-7{
	position: absolute;
	bottom: 20%;
	left: 18%;
}
.artist-8{
	position: absolute;
	bottom: 25%;
	left: 50%;
}
.artist-9{
	position: absolute;
	bottom: 40%;
	right: 15%;
}
.artist-10{
	position: absolute;
	bottom: 40%;
	left: 90%;
}

figure img {
	border-radius: 50%;
	border: 2px #FFFFFF solid;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(111, 117, 136, 0.51);
    -moz-box-shadow:    1px 1px 4px 0px rgba(111, 117, 136, 0.51);
    box-shadow:         1px 1px 4px 0px rgba(111, 117, 136, 0.51);
}

.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
  background: rgba(244,244,246,96);
}
footer {
	background: #fff;
	
	font-size: 11px;
}

#footer {
	max-width: 1280px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
	position: relative;
}

#footer a{
  color:#C1c5cd;
}
#footer-logo {
	float: left;
	margin-top: -10px;
	font-size: 10px;
	text-align: left;
	}
#sitemap {
	position: absolute;
	left: 25%;
	width: 100%;
    display: inline-block;
	overflow: hidden;
}
#sitemap a {
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 10px;
}

#sitemap a:hover {
	text-decoration: none;
	color: #535865;
}

#social {
	position: absolute;
	width: 130px;
	right: 2%
	}
.social-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background:#7A6B67;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 1px;
 }
.vkontakte{
background: #7A6B67 url(PNG/vk2-icon.png)center center no-repeat;
 background-size: 16px 10px;	
} 
.vkontakte:hover {
  background: #6996C7 url(PNG/vk2-icon.png)center center no-repeat;
  background-size: 16px 10px;
 }
 .facebook{
background: #7A6B67 url(PNG/fb2-icon.png)center center no-repeat;
 background-size: 8px 16px;	
} 
.facebook:hover {
  background: #496194 url(PNG/fb2-icon.png)center center no-repeat;
  background-size: 8px 16px;
}
 .twitter{
background: #7A6B67 url(PNG/twitter.png)center center no-repeat;
} 
.twitter:hover {
  background: #28C3FF url(PNG/twitter.png)center center no-repeat;
 }
  .odnoklassniki{
background: #7A6B67 url(PNG/ok.png)center center no-repeat;
} 
.odnoklassniki:hover {
  background: #ED812B url(PNG/ok.png)center center no-repeat;
 }
 .designed-by{
    float: right;
	margin-top: -10px;
	font-size: 10px;
	text-align: left;
	margin-right: -120px;
 }
 .traineeship{
	 background: url(png/traineeship logo normal.png)center center no-repeat;
	 background-size: 170px 40px;
 }
 .traineeship:hover{
	 background: url(png/traineeship logo hover.png)center center no-repeat;
	 background-size: 170px 40px;
 }
 