html {
  box-sizing: border-box;
  height:100%;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}


body {
    width: 100%;
    height: 100%;
    background-color: #F4F4F6;
    margin: 0 auto;
}

.header {
    width: inherit;
    height: 60px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(111, 117, 136, 0.57);
    -moz-box-shadow: 0px 3px 2px 0px rgba(111, 117, 136, 0.57);
    box-shadow: 0px 3px 2px 0px rgba(111, 117, 136, 0.57);
    
}

.wrapper-header {
    max-width: 100%;
    width: 1280px;
    height: inherit;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin: 0 auto;

}

.logo {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    color: #088CFF;
    position: absolute;
    bottom: -15%;

}

.logo span {
    text-transform: lowercase;
}


/* Navigation =================================== */

.navigation {
    position: absolute;
    list-style: none;
    margin-top: 20px;
    left: 47%;
}

.navigation li {
    display: inline;
    list-style: none;  
}

.navigation a {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #535865;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 20px;
}

.navigation a:hover,
.navigation a:focus,
.navigation a:active {
    color: #088CFF;
    text-decoration: none;
}

/* Menu items with icons =========================== 
.icon-menu {
    position: absolute;
    margin: 0;
    padding:0;
    right: 0;
    width: 260px;

}

.icon-menu li {
    width: 150px;
    height: 60px;
    display: inline-block;
}

.icon-menu li:last-child {
    width: 80px;
} 

.icon-menu li a {
    text-align: left;
    position: relative;
}


.icon svg {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    stroke: #535865;

}
.text p {
    position: absolute;
    left: 38px;
    top: -14px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #535865;
    text-transform: uppercase;
    text-align: left;
}


.icon-menu li:hover .icon svg {
    stroke: #088CFF;

}
.icon-menu li:hover p {
    color: #088CFF;
    
}
*/
.container{
	min-height: 100%;
	margin-bottom: -90px;
}
.push{
	height:90px;
}
.footer{
	background-color: #535865;
	width:inherit;
	height:90px;
}