
.icon-plus:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-telephone:before { content: '\e802'; } /* '' */
.icon-message:before { content: '\e803'; } /* '' */
.icon-megaphone:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-vk:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-arrow_left:before { content: '\e808'; } /* '' */
.icon-arrow_right:before { content: '\e809'; } /* '' */
.icon-caution:before { content: '\e80a'; } /* '' */
.icon-choose:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-calendar:before { content: '\e80d'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-compass:before { content: '\e80f'; } /* '' */
.icon-close:before { content: '\e810'; } /* '' */
.icon-coordinates:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e812'; } /* '' */
.icon-facebook-2:before { content: '\e813'; } /* '' */
.icon-heart:before { content: '\e814'; } /* '' */
.icon-060__life-buoy:before { content: '\e815'; } /* '' */
.icon-list_item:before { content: '\e816'; } /* '' */
.icon-login:before { content: '\e817'; } /* '' */